<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cirnoteam.accountingassistant">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="记账助手"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="记账助手">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogIn"
            android:label="登录">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="注册">
            <intent-filter>
                <action android:name="android.intent.action.REGISTER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgetPassword"
            android:label="忘记密码">
            <intent-filter>
                <action android:name="android.intent.action.FORGETPASSWORD" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordDetail"
            android:label="流水详情"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.RECORDDETAIL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewRecord"
            android:label="记一笔新流水"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.NEWRECORD" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BankCard"
            android:label="账户列表">
            <intent-filter>
                <action android:name="android.intent.action.BANKCARD" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".NewBankcard"
            android:label="新增账户">
            <intent-filter>
                <action android:name="android.intent.action.NEWBANKCARD" />
            </intent-filter>
            >
        </activity>
    </application>

</manifest>